//* ==========================================================================
//	Theme Settings
//========================================================================== */


//* ===== Primary Colors ===== */
$primaryColor:			#111111;
$accentColor:			#c90000;


//$textColor:				#333333;
//$whiteColor:			#ffffff;
//$blackColor:			#000000;
//$grayColor: 			#777777;

//* ===== Border ===== */
//$borderColor:			#dedede;


//* ===== Primary Fonts ===== */
//$FontPrimary:		'Roboto', serif;
//$FontSecondary:		'Montserrat', sans-serif;
$fa:				'FontAwesome';
