/* ==========================================================================
/* ===== Single Post  ===== */
/*========================================================================== */

/*--------------------------------------------------------------
	# General
--------------------------------------------------------------*/

#page,
#page-inner {
	position: relative;
}




/*--------------------------------------------------------------
	# Main
--------------------------------------------------------------*/

#main {
	padding: 80px 0;
}

/*--------------------------------------------------------------
	## Content
--------------------------------------------------------------*/

#content {
	position: relative;
}

.blog-post,
.blog-post-single,
.page-single,
.about-author,
#respond,
.comment-inner {

}
