
/*--------------------------------------------------------------
	## Social Links
--------------------------------------------------------------*/

body a.social-link-twitter .fa {
	background: #1da1f2;
	color: #fff;
}

body a.social-link-facebook .fa {
	background: #3b5998;
	color: #fff;
}

body a.social-link-youtube .fa {
	background: #cd201f;
	color: #fff;
}

body a.social-link-vimeo .fa {
	background: #1ab7ea;
	color: #fff;
}

body a.social-link-tumblr .fa {
	background: #35465c;
	color: #fff;
}

body a.social-link-pinterest .fa {
	background: #bd081c;
	color: #fff;
}

body a.social-link-linkedin .fa {
	background: #0077b5;
	color: #fff;
}

body a.social-link-instagram .fa {
	background: #004879;
	color: #fff;
}

body a.social-link-github .fa {
	background: #4183c4;
	color: #fff;
}

body a.social-link-google-plus .fa {
	background: #dc4e41;
	color: #fff;
}

body a.social-link-dribbble .fa {
	background: #ea4c89;
	color: #fff;
}

body a.social-link-dropbox .fa {
	background: #007ee5;
	color: #fff;
}

body a.social-link-flickr .fa {
	background: #0063dc;
	color: #fff;
}

body a.social-link-foursquare .fa {
	background: #f94877;
	color: #fff;
}

body a.social-link-behance .fa {
	background: #1769ff;
	color: #fff;
}

body a.social-link-vine .fa {
	background: #00b488;
	color: #fff;
}

body a.social-link-rss .fa {
	background: #f26522;
	color: #fff;
}

body a.social-link-email .fa {
	background: #ef7583;
	color: #fff;
}
